extends ../layout

block content
    h1.
         #{title}
    ul
        - each subject, i in subjects
            li
                = subject.moduleCode
                = subject.moduleName
                = subject.coordinator
                = subject.credits
                = subject.semester
                = subject.day
                = subject.department
                = subject.description
                = subject.preRequestSubjects

                form(action='/subjects/#{subject.moduleCode}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/subjects/#{subject.moduleCode}/edit') Edit
                p
                    a(href='/subjects/#{subject.moduleCode}') Show
