body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


modal-container {
  position: relative;
}
modal-container .modal{
  position: absolute;
}

modal-container .modal-backdrop {
  position: absolute;
}

